h1{
    color:white;
    background-color:black;
}
body{
    background-color:bisque;
}
img{
    border-radius:20px;
    margin-top: 10px;
    width: 200px;
    border-radius:20px;
    padding-bottom: 10px;
}
